

body {
	font-family: Helvetica, sans-serif;
/*	color: #808080;	*/
}

header {
	font-family: 'Roboto Slab', serif;
	font-size: 400%;
	font-weight: bolder;
/*	color: #000000;	*/
	text-align: center;
	margin-top: 0px;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 260%;
	color: green;
	text-align: center;
	margin: 0;
	border-bottom: solid 2px gray;
}
	

h2	{
	font-family: Roboto Slab, serif;
	color: ;
	text-align: center;
	font-size: 100%;
	padding-bottom: 5px;
	margin: 0px;
}
	

h3	{
	font-family: Helvetica, sans-serif;
	text-align: left;
	margin: 0;
}


h4 {
	text-align: center;
	font-weight:lighter;
	font-size: 175%;
/*	color: #ff0000;	*/
	padding-top: 0px;
	margin: 0px;
}

h5	{
	font-family: Grand Hotel, cursive;
	text-align: center;
	font-size: 500%;
	margin: 0;
}

div.start_here_bkg {
    align-content: center;
    background-image: url("../art_photos/Start_WhiteWood_bkg.jpg");
    background-repeat: no-repeat;
    background-color: white;
    position: relative;
    max-width: 100%;
    background-color: transparent;
    background-size: contain;
    width: 100%;
    height: 600px;
    background-position: center;
}

div.warning_directions_bkg {
	background-image: url("../art_photos/WoahPardner_Artwork.png");
	background-repeat: no-repeat;
	/*    background-position: 50% 50%;*/
	max-width: 100%;
    height: auto;
    margin-left:	20%;
    margin-right:	20%;
}


div.GBB_WhiteWood_bkg {
	align-content: center;
    background-image: url("../art_photos/GBB_WhiteWood_bkg.jpg");
    background-repeat: no-repeat;
    background-color: white;
    position: relative;
    max-width: 100%;
    background-color: transparent;
    background-size: contain;
    width: 100%;
    height: 600px;
    background-position: center;
}

div.Oval_WoodGrain_bkg {
	align-content: center;
    background-image: url("../art_photos/Oval_WoodGrain_bkg.jpg");
    background-repeat: no-repeat;
    background-color: white;
    position: relative;
    max-width: 100%;
    background-color: transparent;
    background-size: contain;
    width: 100%;
    height: 600px;
    background-position: center;
}

div.make_selection_bkg {
	align-content: center;
    background-image: url("../art_photos/Please_WhiteWood_bkg.jpg");
    background-repeat: no-repeat;
    background-color: white;
    position: relative;
    max-width: 100%;
    background-color: transparent;
    background-size: contain;
    width: 100%;
    height: 600px;
    background-position: center;

}
div.howTo {
    position: absolute;
    left: 0;
    top: 8%;
    width: 100%;
    text-align: center;
    font-size: 120%;
    color: black;
}

div.clickOn {
	position: absolute;
    left: 0;
    top: 67%;
    width: 100%;
    text-align: center;
    font-size: 120%;
    color: black;
}

a {
	color: #000000;
	text-decoration: none;
}

a:link {
	color: #808080;
	text-decoration: none;
}

a:visited {
	color: #808080 ;
	text-decoration: none;
}

a:hover {
	color: #FFEE88;
	text-decoration: none;
}

a:active {
	color:	#ff9900;
	text-decoration: none;
}

.entrance {
	position: absolute;
    left: 20%;
    top: 22%;
}

.entrance_large {
	position: absolute;
    left: 18%;
    top: 16%;
    color:  #ff9900;
    font-size: 210%;
}

.walk_in {
	position: absolute;
    left: 70%;
    top: 22%;
}

.walk_in_large {
	position: absolute;
    left: 65%;
    top: 18%;
    color:  #ff9900;
    font-size: 210%;
}

.walk_in_dimmed {
	position: absolute;
    left: 70%;
    top: 20%;
    color:  #cccccc;
}

.cashier {
	position: absolute;
    left: 19%;
    top: 33%;
}

.cashier_large {
	position: absolute;
    left: 19%;
    top: 33%;
    color:  #ff9900;
    font-size: 210%;
   	text-decoration: none;
}

.transition_area {
	position: absolute;
    left: 76%;
    top: 32%;
}

.transition_area_large {
	position: absolute;
    left: 70%;
    top: 30%;
    color:  #ff9900;
    font-size: 210%;
   	text-decoration: none;
}

.prep_area {
	position: absolute;
    left: 13%;
    top: 44%;
}

.prep_area_large {
	position: absolute;
    left: 11%;
    top: 44%;
    color:  #ff9900;
    font-size: 210%;
   	text-decoration: none;
}

.waitress {
	position: absolute;
    left: 79%;
    top: 44%;
}

.waitress_large {
	position: absolute;
    left: 75%;
    top: 44%;
    color:  #ff9900;
    font-size: 210%;
   	text-decoration: none;
}

.bar {
	position: absolute;
    left: 16%;
    top: 58%;
}

.bar_large {
	position: absolute;
    left: 16%;
    top: 58%;
    color: #ff9900;
    font-size: 210%;
}

.restrooms {
	position: absolute;
    left: 81%;
    top: 58%;
}

.restrooms_large {
	position: absolute;
    left: 77%;
    top: 58%;
    color:  #ff9900;
    font-size: 210%;
}

.cookline {
	position: absolute;
    left: 14%;
    top: 70%;
}

.cookline_large {
	position: absolute;
    left: 11%;
    top: 70%;
    color:  #ff9900;
    font-size: 210%;
}

.transport_mat {
	position: absolute;
    left: 79%;
    top: 71%;	
}

.transport_mat_large {
	position: absolute;
    left: 74%;
    top: 71%;
    color:  #ff9900;
    font-size: 210%;
}

.dishwash_area {
	position: absolute;
    left: 12%;
    top: 80%;
}

.dishwash_area_large {
	position: absolute;
    left: 4%;
    top: 80%;
    color:  #ff9900;
    font-size: 210%;
}

.rubber_mats {
	position: absolute;
    left: 75%;
    top: 82%;
}
.rubber_mats_large {
	position: absolute;
    left: 70%;
    top: 76%;
    color:  #ff9900;
    font-size: 210%;
}

.salad_bar {
	position: absolute;
    left: 19%;
    top: 90%;
}

.salad_bar_large {
	position: absolute;
    left: 8%;
    top: 85%;
    color:  #ff9900;
    font-size: 210%;
}

.carpet_mats {
	position: absolute;
    left: 70%;
    top: 91%;
}

.carpet_mats_large {
	position: absolute;
    left: 60%;
    top: 91%;
    color:  #ff9900;
    font-size: 210%;
}

div.good_category {
	font-family: Helvetica, sans-serif;
	text-align: center;
	font-weight: lighter;
	font-size:160%;
	color: #000000;
	align-content: center;
	position: relative;
	max-width: 100%;
	top: 13%;
	text-decoration: none;
}

div.better_category	{
	font-family: Helvetica, sans-serif;
	text-align: center;
	font-weight: normal;
	font-size:160%;
	color: #000000;
	align-content: center;
	position: relative;
	max-width: 100%;
	top:18%;
	text-decoration: none;
}

div.best_category {
	font-family: Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size:160%;
	color: #000000;
	align-content: center;
	position: relative;
	max-width: 100%;
	top: 27%;
	text-decoration: none;
}

div.best_category_A {
	font-family: Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size:160%;
	color: #000000;
	position: absolute;
    top: 15%;
    position: relative;
    max-width: 100%;
    background-color: transparent;
    background-size: contain;
    width: 100%;
    height: 600px;
    background-position: center;
}

p {
	text-align: center;
	font-size: 120%;
}

ul {
	list-style-type: none;
	text-align: center;
	text-decoration: none;
}

li {
	text-align: center;
	text-decoration: none;
}

.company_address {
	text-align: center;
}

.footer {
	font-family: 'Roboto Slab', serif;
	font-size: 250%;
	font-weight: bold;
	text-align: center;
	color: green;
}

.thanks_img {
	max-width: 30%;
	padding-left: 18%;
}

#lightbox_window_a{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_TopdekJR_Blk.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_b{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Prima_Blk.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_c{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_TopdekSr_Blk.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_d{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Lite_Blk.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_e{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Tuffdek_Blk.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_f{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Guardian_Blk.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_g{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_BlackCloud.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_h{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Deluxe_Blk.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_i{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Duralok_Blk.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_j{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Tuffdek_Red.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_k{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Duralok_Red.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_l{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Guardian_Red.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_m{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Deluxe_Red.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_n{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Cloud_Red.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_o{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Catalina.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_p{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Fingertop.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_q{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Needle_Rib.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_r{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Waterwell.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_s{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Chevron_Rib.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_t{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Machine_Washable.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_u{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Digi_Print.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_v{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Ridge_Scraper.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_w{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Camino_Real_Logo.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_x{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Cocoa_Brush.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_y{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_TBA.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_z{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Tredlite_Sponge.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_aa{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Bubble_Eze.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_bb{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Comfort_Zone.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_cc{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Cushion_Comfort.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_dd{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Topdek_Sr_Red.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_ee{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Topdek_Jr_Red.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_ff{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Revers_A_Mat_Red.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_gg{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Revers_A_Mat_Black.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_hh{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Ni_Rib_Perforated.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_ii{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Honeycomb_Brown.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}
#lightbox_window_jj{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Revers_A_Mat.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_kk{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Ni_Rib.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_ll{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Vinyl_Loop.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_mm{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Slip_Guard.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}
#lightbox_window_nn{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Catalina_Standard.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_oo{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Catalina_Premium.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_pp{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Tuff_Plush.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_qq{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Ni_Rib_Solid.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_rr{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_SaniMate.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_ss{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Transporter_Wash_Rack.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_tt{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Cleaning_Supplies_1.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_uu{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_Cleaning_Supplies_2.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_TBA.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

#lightbox_window_{
	width:1021px;
	height:706px;
	background-image: url("../../assets/art_photos/GuidePics/Guide_TBA.jpg");
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}
#topdekJrBlack{
	color: red;
	cursor: pointer;
}
#topdekJrBlack:hover{
	color: yellow;
	cursor: pointer;
}

#topdekSrBlack{
	color: red;
	cursor: pointer;
}
#topdekSrBlack:hover{
	color: yellow;
	cursor: pointer;
}

#topdekJrRed{
	color: red;
	cursor: pointer;
}
#topdekJrRed:hover{
	color: yellow;
	cursor: pointer;
}

#topdekSrRed{
	color: red;
	cursor: pointer;
}
#topdekSrRed:hover{
	color: yellow;
	cursor: pointer;
}

#primaBlack{
	color: red;
	cursor: pointer;
}
#primaBlack:hover{
	color: yellow;
	cursor: pointer;
}

#liteBlack{
	color: red;
	cursor: pointer;
}
#liteBlack:hover{
	color: yellow;
	cursor: pointer;
}

#tuffdekBlack{
	color: red;
	cursor: pointer;
}
#tuffdekBlack:hover{
	color: yellow;
	cursor: pointer;
}

#guardianBlack{
	color: red;
	cursor: pointer;
}
#guardianBlack:hover{
	color: yellow;
	cursor: pointer;
}

#cloudBlack{
	color: red;
	cursor: pointer;
}
#cloudBlack:hover{
	color: yellow;
	cursor: pointer;
}

#deluxeBlack{
	color: red;
	cursor: pointer;
}
#deluxeBlack:hover{
	color: yellow;
	cursor: pointer;
}

#duralokBlack{
	color: red;
	cursor: pointer;
}
#duralokBlack:hover{
	color: yellow;
	cursor: pointer;
}

#tuffdekRed{
	color: red;
	cursor: pointer;
}
#tuffdekRed:hover{
	color: yellow;
	cursor: pointer;
}

#duralokRed{
	color: red;
	cursor: pointer;
}
#duralokRed:hover{
	color: yellow;
	cursor: pointer;
}

#guardianRed{
	color: red;
	cursor: pointer;
}
#guardianRed:hover{
	color: yellow;
	cursor: pointer;
}

#deluxeRed{
	color: red;
	cursor: pointer;
}
#deluxeRed:hover{
	color: yellow;
	cursor: pointer;
}

#cloudRed{
	color: red;
	cursor: pointer;
}
#cloudRed:hover{
	color: yellow;
	cursor: pointer;
}

#catalina{
	color: red;
	cursor: pointer;
}
#catalina:hover{
	color: yellow;
	cursor: pointer;
}

#fingertop{
	color: red;
	cursor: pointer;
}
#fingertop:hover{
	color: yellow;
	cursor: pointer;
}

#needleRib{
	color: red;
	cursor: pointer;
}
#needleRib:hover{
	color: yellow;
	cursor: pointer;
}

#waterwell{
	color: red;
	cursor: pointer;
}
#waterwell:hover{
	color: yellow;
	cursor: pointer;
}

#chevronRib{
	color: red;
	cursor: pointer;
}
#chevronRib:hover{
	color: yellow;
	cursor: pointer;
}

#machineWashable{
	color: red;
	cursor: pointer;
}
#machineWashable:hover{
	color: yellow;
	cursor: pointer;
}

#digiPrint{
	color: red;
	cursor: pointer;
}
#digiPrint:hover{
	color: yellow;
	cursor: pointer;
}

#ridgeScraper{
	color: red;
	cursor: pointer;
}
#ridgeScraper:hover{
	color: yellow;
	cursor: pointer;
}

#caminoRealLogo{
	color: red;
	cursor: pointer;
}
#caminoRealLogo:hover{
	color: yellow;
	cursor: pointer;
}

#cocoaBrush{
	color: red;
	cursor: pointer;
}
#cocoaBrush:hover{
	color: yellow;
	cursor: pointer;
}

#tredliteSponge{
	color: red;
	cursor: pointer;
}
#tredliteSponge:hover{
	color: yellow;
	cursor: pointer;
}

#bubbleEze{
	color: red;
	cursor: pointer;
}
#BubbleEze:hover{
	color: yellow;
	cursor: pointer;
}

#comfortZone{
	color: red;
	cursor: pointer;
}
#comfortZone:hover{
	color: yellow;
	cursor: pointer;
}

#cushionComfort{
	color: red;
	cursor: pointer;
}
#cushionComfort:hover{
	color: yellow;
	cursor: pointer;
}

#reversAMat{
	color: red;
	cursor: pointer;
}
#reverseAMat:hover{
	color: yellow;
	cursor: pointer;
}

#reversAMatRed{
	color: red;
	cursor: pointer;
}
#reverseAMatRed:hover{
	color: yellow;
	cursor: pointer;
}

#reversAMatBlack{
	color: red;
	cursor: pointer;
}
#reversAMatBlack:hover{
	color: yellow;
	cursor: pointer;
}

#niRib{
	color: red;
	cursor: pointer;
}
#niRib:hover{
	color: yellow;
	cursor: pointer;
}

#niRibSolid{
	color: red;
	cursor: pointer;
}
#niRibSolid:hover{
	color: yellow;
	cursor: pointer;
}

#niRibPerforated{
	color: red;
	cursor: pointer;
}
#niRibPerforated:hover{
	color: yellow;
	cursor: pointer;
}

#honeycombBrown{
	color: red;
	cursor: pointer;
}
#honeycombBrown:hover{
	color: yellow;
	cursor: pointer;
}

#vinylLoop{
	color: red;
	cursor: pointer;
}
#vinylLoop:hover{
	color: yellow;
	cursor: pointer;
}

#slipGuard{
	color: red;
	cursor: pointer;
}
#slipGuard:hover{
	color: yellow;
	cursor: pointer;
}

#catalinaStandard{
	color: red;
	cursor: pointer;
}
#catalinaStandard:hover{
	color: yellow;
	cursor: pointer;
}

#catalinaPremium{
	color: red;
	cursor: pointer;
}
#catalinaPremium:hover{
	color: yellow;
	cursor: pointer;
}

#tufPlush{
	color: red;
	cursor: pointer;
}
#tufPlush:hover{
	color: yellow;
	cursor: pointer;
}

#saniMate{
	color: red;
	cursor: pointer;
}
#saniMate:hover{
	color: yellow;
	cursor: pointer;
}

#collect_email{
	width: 1000px;
	height: 50px;
	position:absolute;
	top:0%;
	right:0%
	margin: 0 auto;
	z-index: 99;
}

a[href^="mailto"] {color: #009900; }
